.pageComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e7fbbc; /* Color de fondo verde claro */
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.motivationText {
    font-size: 16px;
    font-style: italic;
    color: #076071;
    margin-bottom: 20px;
    max-width: 300px;
}

.timerDisplay {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
}

.controlButtons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.controlButton {
    background-color:#a8a6f6;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controlButton:hover {
    background-color: #a8a6f6;
}

.objectives {
    font-size: 16px;
    color: #076071;
    margin-top: 30px;
}

.objectives ul {
    list-style: none;
    padding: 0;
}

.objectives li {
    margin: 5px 0;
}