.pageComponent {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh;
    padding: 20px;
    background-color: #E9FBC9; /* Fondo verde claro */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center header content horizontally */
    width: 100%;
    margin-bottom: 20px; /* Add some space below the header */
}

.icon {
    width: 50px; /* Adjusted size for better visibility */
    height: auto;
    margin-bottom: 10px; /* Reduced margin for closer spacing */
}

.title {
    font-size: 24px; /* Increased font size for better readability */
    font-family: 'Urbanist', sans-serif;
    color: #333333; /* Darker color for better legibility */
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; /* Center text */
}

.subtitle {
    font-size: 14px;
    color: #000000;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 10px; /* Reduced margin for closer spacing */
    text-align: center; /* Center text */
}

.textArea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 10px; /* Reduced margin for closer spacing */
    resize: none;
}

.saveButton {
    background-color: #CBD2FF; /* Color del botón */
    color: #ffffff;
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.saveButton:hover {
    background-color: #A5B9FF; /* Hover del botón */
}